*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.topo h1{
    color: white;
    
}

.topo{
    background-color: #0C4A60;
    padding: 25px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.menu a{
    position: relative;
    left:1000px;
    padding-left: 30px;
    text-decoration: none;
    top:-35px;
    color: white;
}

.menu a:hover{
    color: black;
}

.conteudo h1{
    text-align: center;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  margin: 0;
  top: 180px;
}

#Sobre {
    position: relative;
    top: 210px;
}



.conteudo img{
    position: relative;
    left: 225px;
    border-radius: 20px;
    top: 220px;
}

.skills img{
    position: relative;
    animation: floatUpDown 3s ease-in-out infinite alternate;
    top: 405px;
    left: 450px;
    width: 250px;
}

@keyframes floatUpDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px); 
    }
  }

  .desc p{
    position: relative;
    left: 800px;
    top: -100px;
    color: gray;
  }

  .title h1{
    position: relative;
    left: 100px;
    top: -100px;
    color: #0C4A60;
  }

  .servicos h1{
    position: relative;
    top: 400px;
  }

