*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.topo h1{
    color: white;
}

.topo{
    background-color: #0C4A60;
    padding: 25px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.menu a{
    position: relative;
    left:1000px;
    padding-left: 30px;
    text-decoration: none;
    top:-35px;
    color: white;
}

.menu a:hover{
    color: black;
}

.conteudo h1{
    text-align: center;
}

.conteudo img{
    position: relative;
    left: 100px;
    border-radius: 20px;
}

.scroll-container {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 20px 0;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.scroll-container::-webkit-scrollbar {
    display: none; 
}

.scroll-content {
    display: inline-block;
    padding: 0 20px; 
}

.scroll-content img {
    width: 200px; 
    border-radius: 5px;
    margin-right: 80px; 
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.scroll-content img:last-child {
    margin-right: 0;
}

.scroll-content img:hover {
    transform: scale(1.1); 
}

